<div class="task-form">
  <%= form_with model: task, local: true do |f| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "") %> 件のエラーがあります</h2>

        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :expired_at, for: 'task_expired_at_1i' %>
      <%= f.datetime_select :expired_at,
            start_year: Time.current.year, end_year: Time.current.year + 2,
            use_month_numbers: true %>
    </div>

    <div class="form-group">
      <%= f.label :priority %>
      <%= f.select :priority, Task.priorities_i18n.invert %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, create_statuses %>
    </div>

    <div class="form-group">
      <p>ラベル</p>
      <%= f.collection_check_boxes :label_ids, Label.all, :id, :name %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div><!-- /.justify-content-around -->