<div class="container">
  <h1 class="page-title">タスク一覧</h1>

  <%= form_with scope: :search, method: :get, url: search_tasks_path, local: true do |f| %>
    <table>
      <tr>
        <th><%= f.label :title_search, 'タイトル検索' %></th>
        <% if @search_params.present? %>
          <td><%= f.text_field :name, value: @search_params[:name] %></td>
        <% else %>
          <td><%= f.text_field :name %></td>
        <% end %>

        <th><%= f.label :status_search, 'ステータス検索' %></th>
        <% if @search_params.present? %>
          <td><%= f.select :status, Task.statuses_i18n.invert,
                  include_blank: true, selected: @search_params[:status] %></td>
        <% else %>
          <td><%= f.select :status, Task.statuses_i18n.invert,
                  include_blank: true, selected: '' %></td>
        <% end %>

        <td><%= f.submit '検索する', class: 'btn' %></td>
      </tr>
    </table>
  <% end %>

  <%= link_to '新規作成', new_task_path, class: 'btn' %>
  <%= link_to '終了期限でソート', tasks_path(sort_expired: true), class: 'btn' %>

  <div class="task-list">
    <table>
      <thead>
        <tr>
          <th>ステータス</th>
          <th>名称</th>
          <th>登録日時</th>
          <th>終了期限</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.status_i18n %></td>
            <td class="task_row"><%= task.name %></td>
            <td><%= task.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
            <td><%= task.expired_at.strftime('%Y年%m月%d日 %H:%M') %></td>
            <td><%= link_to '詳細', task %></td>
            <td><%= link_to '編集', edit_task_path(task) %></td>
            <td><%= link_to '削除', task, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- /.task-list -->
</div><!-- /.container -->

<footer class="page-footer">
  <%= link_to 'DIVE INTO CODE', 'https://diveintocode.jp/', class: 'footer-link' %>
</footer>