<div class="col-5 mx-auto">
  <h1 class="page-title">タスクの詳細</h1>

  <ul class="nav">
    <li class="mr-3">
      <%= link_to '一覧', tasks_path, class: 'btn btn-outline-primary' %>
    </li>
    <li class="mr-3">
      <%= link_to '編集', edit_task_path(@task), class: 'btn btn-outline-primary' %><br>
    </li>
    <li class="mr-3">
      <%= link_to '新規作成', new_task_path, class: 'btn btn-primary mb-3' %>
    </li>
    <li>
      <%= link_to '削除', task_path(@task), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger mb-3' %>
    </li>
  </ul>

  <div class="task-details">
    <table class="table table-hover">
      <tr>
        <th><%= Label.human_attribute_name(:name) %></th>
        <td>
          <% @task.labels.each do |label| %>
            <span class="p-1 mr-2 bg-secondary text-white rounded"><%= label.name %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:name) %></th>
        <td><%= @task.name %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:description) %></th>
        <td><%= simple_format(h(@task.description), {}, sanitize: false, wrapper_tag: 'div') %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:priority) %></th>
        <td id="priority"><%= @task.priority_i18n %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:status) %></th>
        <td id="status"><%= @task.status_i18n %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:expired_at) %></th>
        <td class="text-danger"><%= @task.expired_at.strftime('%Y年%m月%d日 %H:%M') %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:created_at) %></th>
        <td><%= @task.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
      </tr>
      <tr>
        <th><%= Task.human_attribute_name(:updated_at) %></th>
        <td><%= @task.updated_at.strftime('%Y年%m月%d日 %H:%M') %></td>
      </tr>
      
    </table>
  </div><!-- /.task-details" -->
</div><!-- /.container -->
