<!DOCTYPE html>
<html>
  <head>
    <title>Taskpit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="page-header nav">
    <h1 class="ml-5"><%= link_to 'Taskpit', tasks_path %></h1>

    <% if logged_in? %>
      <p class="align-middle"><%= current_user.name %></p>
      <%= link_to 'マイページ', user_path(current_user) %>
      <%= link_to 'ログアウト', session_path(current_user), method: :delete %>
    <% end %>
  </header>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key} notice") %>
    <% end %>

    <%= yield %>
  </body>
</html>
